.chat-container {
    max-width: 500px; 
    height: 600px; 
    min-width: 300px;
    overflow-y: auto;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.message {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.message-image {
  max-width: 100%;
  height: auto;
  display: block; 
  border-radius: 8px; 
  margin-top: 8px; 
}

.user {
  text-align: right;
  background-color: #dcf8c6;
}

input, button {
  margin: 10px 0;
}
